/* Géneral*/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
html{
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;

}
body {
    margin: 0;
    padding: 0 0px 0 0px;
   
    
}

.main-container {
    max-width: 1440px;
    padding: 0 2rem;
    box-sizing: border-box;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
    }

h1 {
    margin:0;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    }
    
 h2 {
        margin: 0;
     font-size: 22px;
        line-height: 25.83px;
        font-weight: 700;
    }
    
 h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 18.78px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.euros {
    font-size: 14px;
        line-height: 16.44px;
        font-weight: 600;
    }
    
    .neutral-star {
        color: var(--main-bg-color)
    }
    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .card img {
        object-fit: cover;
    }
    
    .card-title {
        font-size: 16px;
    }
  

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 112px;
}

.Logo img {
    width: 61px;
    height: 19px;
}

nav ul {
    display: flex;
}

nav li {
    border-top: solid 2px transparent;
    padding: 46px 33.5px;
}

nav li:hover {
    border-top: solid 2px #0065FC;
    cursor: pointer;    
    padding: 46px 33.5px; 
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color:black;
}

nav li:hover a {
    color: #0065FC; 
}

/* BARRE DE RECHERCHE */

.recherches {
    margin-bottom: 30px;
}

:focus-visible {
    outline: unset;
}

.formulaire {
    display: flex;
    align-items: center;
}

.fa-location-dot {
    border: solid 1px #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 15px;
    border-right-style: none;
    background-color: #F2F2F2;
    color: black;
    font-size: 17px ;
}

.texte-recherche{
    border: solid 1px #F2F2F2;
    border-right: none;
    width: 236px ;
    height: 49px;
    
}

.texte-recherche::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    color: black;
    padding: 0 72px 0 16px;
}

.bouton-recherche {
    border: none;
    border-radius: 0 15px 15px 0;
    height: 49px;
    width: 132px;
    border-left-style: none;
    background-color: #0065FC;
    color:white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
}

.bouton-recherche:hover {
    cursor: pointer;
}
.fa-magnifying-glass{
    display: none; /* Par défaut, l'icône est masquée */
}

.texte-accueil p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

/* FILTRES */

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    
    
}

.containers-filtre {
    display: flex; 
    flex-wrap: wrap;
    margin-left: 20px;
   
}
.button-filtre { 
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 20px;
    height: 50px;
    margin: 4px, 19px, 4px, 19px;
}

.button-filtre:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.button-filtre i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 12px 0 20px;
    font-size: 22px;
}
    

.button-filtre p {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    margin-right: 20px;
    line-height: 50px;
}


/* INFORMATIONS */

.fa-info {
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 10px;
    margin-right: 10px;
}

.information {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.information p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/* HEBERGEMENTS */
.hebergements {
    width: 65%;
}
.hebergements-cards {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
}

.hebergements-cards a{
    width:30%;
    margin-top:30px;
}


.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    height: 113px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    margin: 0;
    margin-bottom: 8px;;
}

.hebergements-cards .card-rating {
    font-size:14px;
    margin-bottom: 15px;
}

.hebergements-cards .card:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.03);
}

.afficher-plus{
    font-size: 18px;
    font-weight:bold;
    margin-top:30px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


.populaires-cards .card:hover {
    opacity: 1;
    transform: scale(1.03); 
    transition: transform 0.5s;
}


/* partie activites */

.partie-activites {
    padding: 30px;
    font-size: 14px;
    
}

.les-activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top:30px;       
}

.les-activites img {
    width: 100%;
    height: 89%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.les-activites .card {
    border-radius: 20px;
    background-color: #ffffff;
    width: 23%;
    padding: 0px;
    
}

.les-activites .container {
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


 .les-activites .card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* FOOTER */

.footer {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 75px;
    box-sizing: border-box;
    
    
}
ul {
    list-style-type: none;
}
.footer-list {

    width: 34%;
    box-sizing: border-box;
    padding: 20px;
}

.footer-list h4{
    margin-top: 0px;
    margin-bottom: 15px;
}

.info-list {
    padding:0px;
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-bottom: 0px;
}


/* MEDIA QUERIES */

@media (max-width: 1024px) {

   
    

    .filtres {
        flex-direction: column; /* Garde le titre en haut */
        align-items: flex-start;
    }

    .containers-filtre {
        margin-left: 0;
        margin-top: 10px; /* Pour ajouter un espace entre le titre et les filtres */
    }

    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
        
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    .les-activites img {

        width: 100%;
        max-height: 180px;
        object-fit: cover;
    }
   


    
    }

    
    @media (max-width: 767.98px) {
        html{
            max-width: 767.98px;
            min-height: 321px;
        }
       
        .main-container{
            padding:0;
           
        }

        header {
            flex-direction: column; /* Change la direction en colonne */
            height: auto; /* Réinitialise la hauteur */
            align-items: center; /* Centre les éléments horizontalement */
        }

        .navbar {
            margin-top: 20px; /* Espacement entre le logo et la navigation */
        }
    
        
        .Logo {
            order: -1; /* Place le logo en haut */
            margin-top: 25px; /* Espacement sous le logo */
        }
        
    
        .navbar {
            display: block;
            margin-top: -10px;
          }
          .navbar ul {
            padding: 0; /* Supprimez les espacements par défaut */
          }
          .navbar li {
            display: block;
            text-align: center;
            margin-bottom: 10px; /* Ajoutez un espace entre chaque lien */
          }
          .navbar a {
            display: block;
            padding: 10px; /* Ajoutez un espace autour du texte du lien */
          }
    
        nav li:hover {
            border-top: 0;
            border-bottom: solid 2px #0065FC;  }
    
        
    
          
    
        .bouton-recherche {
        display: none;
    }
    
    .fa-magnifying-glass {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 0 15px 15px 0;
        height: 49px;
        width: 49px;
        background-color: #0065FC;
        color: white;
        font-size: 24px;
        font-weight: 700;
        line-height: 21.13px;
        cursor: pointer; /* Ajouter un curseur pointer pour indiquer que l'icône est cliquable */
    }

    .containers-filtre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .button-filtre {
        width: 162.5px;
        height: 50px;
        margin: 4px 5px;
         padding: 0 15px; /* Réduisez le padding pour permettre un meilleur ajustement du texte */
        
       
      
        
    }
    .button-filtre p {
        font-family: Raleway;
        font-size: 14px; /* Taille de police de 14 pixels */
        font-weight: 700; /* Poids de police gras */
        line-height: 16.44px; /* Hauteur de ligne */
        text-align: left; /* Alignement du texte à gauche */
    }
    
    .texte-acceuil h1 {
        font-size: 22px; /* Conserve la taille pour les petits écrans */
        line-height: 25.83px; /* Conserve la hauteur de ligne pour les petits écrans */
    }

    .texte-acceuil p {
        font-size: 16px; /* Conserve la taille pour les petits écrans */
        line-height: 18.78px; /* Conserve la hauteur de ligne pour les petits écrans */
    }
       
    
    /* Hébergements et populaires */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding:30px 20px;
    }

    .populaires {
        margin:0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width:100%;
    }

    section.hebergements {
        background-color: white;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width:100%;
    }

    .hebergements a {
        margin-top:15px;
    }

    .afficher-plus {
        margin-top:15px;
    }
        
    .partie-activites {
        padding: 30px;
        box-sizing: border-box;

    }
    
    .les-activites  {
        flex-direction: column;
        gap: 10px;
    }
    
    .les-activites img {
        height: 97%;
        object-fit: cover;
        width: 100%;
    }
    
    .les-activites .card {
        width: 97%;
        margin: 5px;
        
    }
    .footer {
        display: flex;
        background-color: #F2F2F2;
        flex-direction: column;
        margin-top: 75px;
        box-sizing: border-box;
        width: 100%; /* Change this to 100% */
       
    }
    .footer-list {
        width: 100%; /* Ensure the width of footer list elements */
        box-sizing: border-box;
    }
        
            
}




    
  











































